<div class="container container__footer">
  <ul class="social">
    <li class="social__item">
      <a
        class="social__link social__link--transparent"
        aria-label="Twitter"
        href="https://twitter.com"
      >
        <svg class="social__icon" width="16px" height="16px">
          <use href="./images/icons.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>

    <li class="social__item">
      <a
        class="social__link social__link--transparent"
        aria-label="Instagram"
        href="https://instagram.com"
      >
        <svg class="social__icon" width="16px" height="16px">
          <use href="./images/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>

    <li class="social__item">
      <a
        class="social__link social__link--transparent"
        aria-label="Facebook"
        href="https://facebook.com"
      >
        <svg class="social__icon" width="16px" height="16px">
          <use href="./images/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
  </ul>

  <div class="footer__box">
    <div class="footer__tel">
      <a class="link footer__link" href="tel:(910)222-8855">
        <svg class="footer__icon" width="13" height="13">
          <use href="./images/icons.svg#icon-phone"></use>
        </svg>
        (910)222-8855
      </a>
    </div>
    <div class="footer__location">
      <a
        class="link footer__link"
        href="https://goo.gl/maps/UPdW857vfM8CqwG19"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="footer__icon" width="11" height="14">
          <use href="./images/icons.svg#icon-location"></use>
        </svg>
        New York
      </a>
    </div>
  </div>
</div>
