<div class="container header__container">
  <a href="./index.html" class="logo">
    <img class="logo__ico" src="./images/logo.svg" alt="company logo" />
  </a>

  <button
    type="button"
    class="mobile-menu__button"
    data-menu-button
    aria-expanded="false"
  >
    <svg
      class="mobile-menu__buttonIco"
      width="18"
      height="18"
      aria-label="mobile menu switcher"
    >
      <use
        class="mobile-menu__icoMenu"
        href="./images/icons.svg#icon-menu"
      ></use>
      <use
        class="mobile-menu__icoClose"
        href="./images/icons.svg#icon-close"
      ></use>
    </svg>
  </button>

  <div class="mobile-menu" data-menu>
    <nav>
      <ul class="site-nav list">
        <li class="site-nav__item">
          <a href="#about-us" class="site-nav__link">About us</a>
        </li>

        <li class="site-nav__item">
          <a href="#program" class="site-nav__link">Program</a>
        </li>

        <li class="site-nav__item">
          <a href="#reviews" class="site-nav__link">Reviews</a>
        </li>

        <li class="site-nav__item">
          <a href="#contacts" class="site-nav__link">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
