<!-- Registration -->

<section class="registration" id="registration">
  <div class="container registration__container">
    <h2 class="registration__title title">Registration</h2>
    <div class="registration__donut"></div>
    <div class="registration__confetti"></div>
    <div class="registration__block">
      <div class="registration__box">
        <p class="registration__location">May 23, 11:00 New York</p>
        <p class="registration__price">$ 699</p>
      </div>
      <span class="line line-desktop"></span>
      <form class="registration-form">
        <div class="registration__data">
          <span class="line line-mobile"></span>
          <h3 class="registration-form__title">
            Apply your personal info for registration
          </h3>
          <div class="registration-form__block">
              <input
                class="input-data registration-form__input"
                type="text"
                placeholder="Your name"
                minlength="3"
                maxlength="50"
              />
              <input
                class="input-data registration-form__input"
                type="tel"
                placeholder="Phone number"
                minlength="3"
                maxlength="50"
              />
              <input
                class="registration-form__input input-data"
                type="email"
                placeholder="Email"
                minlength="3"
                maxlength="50"
              />
          </div>
        </div>

        <button class="button registration__button" type="submit">
          Register
        </button>
      </form>
    </div>
  </div>
</section>

<!-- END Registration -->
